<!DOCTYPE html>
<html lang="fr">
{% load static %}
<head>
	<title>{% block title%}Default title{% endblock title %}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{% block metadescription%}{% endblock metadescription %}">
    <meta name="keywords" content="{% block metakeywords%}{% endblock metakeywords %}">
	<link rel="stylesheet" type="text/css" href="{% static 'spacexapi/css/bulma-0.9.4/css/bulma.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'spacexapi/css/fontawesome-free-6.1.1-web/css/all.css' %}"/>
	<script src="{% static 'spacexapi/js/jquery-3.6.0.min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'listings/css/authpage.css' %}">
	{% block style %}{% endblock style %}
</head>

<body class="body">
	<!-- nav bar -->
	<!-- end nav bar -->


	<div>
	   {% block content %}
	   {% endblock content %}	
	</div>

	{% block script %}{% endblock script %}
</body>

</html>