{% extends "base.html" %}

{% block title %} CapsulesApi {%endblock title %}
{% block content %}
    <div class="container">

        <strong>Liste des capsules</strong>
        
        {% for cap in caps %}
        <br><br>
        <button class="button">{{ cap.type }}, {{ cap.base_id }}</button>
        <a class="button is-link is-light" href="{% url 'capsule' capsule_id=cap.id %}"> Voir plus </a>
        
        {% endfor %}

    </div>
{% endblock content %}
