{% extends "base.html" %}

{% block title %} CapsulesApi {%endblock title %}
{% block content %}
    <div class="container">

        <strong>Capsule {{ cap.base_id }} </strong><br><br>


        <h2>Type : {{ cap.type }}</h2>
        <h2>Reuse_count : {{ cap.reuse_count }}</h2>
        <h2>Water_landings : {{ cap.water_landings}}</h2>
        <h2>Land_landings : {{ cap.land_landings }}</h2>
        <h2>Last_update : {{ cap.last_update }}</h2>
        <h2>Launches : {{ cap.launches }}</h2>
        <h2>Serial : {{ cap.serial}}</h2>
        <h2>Status : {{ cap.status }}</h2>
        <br><br>

    </div>
{% endblock content %}
