/* Basic */
html {
    background-color: rgba(255, 255, 255);
    box-sizing: border-box;
    margin: auto;
}

/* body {
    font-family: cursive;
} */

a {
    text-decoration: none;
}

li {
list-style: none;
}

/*********** NAVBAR ************/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 20px 7px;
    background-color: rgb(43, 44, 145);
    color: #fff;
}
.nav-links a {
    color: #fff;
}

.logo {
    font-size: 45px;
}

.account-icon {
    font-size: 25px;
}

.nav-menu {
    display: flex;
    gap: 0.2em;
    font-size: 18px;
}

.nav-menu li:hover {
    background-color: rgb(64, 66, 180);
    border-radius: 5px;
    transition: 0.3s ease;
}

.nav-menu li {
    padding: 5px 14px;
}

.services {
    position: relative; 
}

.dropdown {
    background-color: rgb(43, 44, 145);
    padding: 1em 0;
    position: absolute;
    display: none;
    border-radius: 8px;
    top: 35px;
}

.dropdown li + li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.dropdown li:hover {
    background-color: rgb(64, 66, 180);
}

.services:hover .dropdown {
    display: block;
}

    /*RESPONSIVE MENU*/

input[type=checkbox]{
    display: none;
} 

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}


/***********END NAVBAR ************/

/*********** SEARCH-BLOCK ************/
.container {
    width: 90%;
    margin: auto;
}


.input{
    width: 100%;
}

.form {
    background: rgb(22,19,54, 0.9);
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

#id_category {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#id_category li:first-child{
    display: none;
}

#id_category li {
    width: 49%;
}

#id_category label {
    position: relative;
    display: block;
    cursor: pointer;
    font-size: 20px;
    background: rgba(160, 179, 176, 0.25);
    text-align: center;
    padding: 10px;
    width: 100%;
    margin: 0 0 40px 0;
}

#id_category label:hover{
    background: #0080ff;
    color: #ffffff;
}

#id_category input[type="radio"] {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    opacity: 0;
    outline: none;
    outline-style: none;
    border: 0px;
    margin: -40px;
}

#id_category .active {
    background: #1da1f2;
    color: #ffffff
}

#id_category input[type="radio"]:focus{
    outline: none;
    outline-style: none;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent;
}

.top-area {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}
  
.top-area:after {
    content: "";
    display: table;
    clear: both;
}

  
  
input{
    transition: border-color .25s ease, box-shadow .25s ease;
}
  
input:focus{
    outline: 0;
    border-color: #1da1f2;
}



.form-col {
    display: flex;
    flex-direction: column;
}

.form-col input {
    vertical-align: middle;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px 0;
    width: 100%;
}

.form-col select {
    margin: 10px 0px;
    width: 100%;
    padding: 15px 5px;
}

.form-col button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;
}
  
.form-col button:hover {
    background-color: royalblue;
}
.form-col label {
    color: white;
    font-size: 18px;
}
/***********END SEARCH-BLOCK ************/

/*********** AD-CARD ************/
.card{
    background-color: rgba(240, 248, 255, 1.5);
}

.item-price {
    padding-top: 12px;
    padding-right: 12px;
    font-weight: bold;
    color: rgba(220, 20, 60, 0.8);
}

.item-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.error-msg {
    color: rgb(255, 0, 0);
}
.del-old-img{
    margin-top: 20px;
}
/***********END AD-CARD************/

/***********************************/

/***********ADpage-CARD***********/

/*slideshow styling*/

.card-image img{
    width: 272px;
    height: 200px;
    max-height: 500px;
    margin: 10px;
}

.card-images img{
    width: 100%;
    max-height: 500px;
}
.mySlides {display: none}
/* img {vertical-align: middle;} */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 0.2% 1%;
  margin-top: -22px;
  color: rgba(8, 8, 8, 0.9);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(190, 190, 190, 0.8);
}

.prev {
  margin-left: 15px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  margin-right: 15px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.pastille {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background-color: rgba(187, 23, 23, 0.8); */
}

.item-attributes {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
    width: 150px;
    background-color: rgba(187, 216, 224, 0.5);
}

.attrs-key {
    font-family: 'Brush Script MT', cursive;
    color: rgba(0, 0, 0, 0.5);;
}

.attrs-value {
    font-family: Garamond, serif;
    font-weight: bold;
    color: rgba(220, 20, 60, 0.8);
}

.item-description {
    margin-top: 50px;
    text-align: center;
}

.item-block {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item-agency {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    margin-bottom: 20px;
}

.sform {
    background: rgb(22,19,54, 0.9);
    padding: 40px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}


/***********END ADpage-CARD*******/

/*********** Sign Up *************/
.item-phone {
    width: 50% !important;
    height: 43px;
    border-radius: 4px;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.rform {
    background: rgba(0, 0, 128, 0.1);
    padding: 40px;
    margin: 20px auto;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.rform label {
    color: rgba(0, 0, 0, 0.9);
}

.rtitle {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: rgba(60, 44, 233, 0.9);
    margin-bottom: 20px;
}


/***********END Sign Up **********/

/****favorite button*****/
.fav-btn {
    margin: auto 0px;
}

.small-white-btn {
    font-size:27px;
    color:white;
}

.small-red-btn {
    font-size:27px;
    color:red;
}

/****************profile page***********/
.card-container {
    width: 90%;
    margin: 20px auto;
}

.hero-body
{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

.profile-card {
    margin: 5rem 0;
    margin-top: -120px;
}

.profile-card .content p {
    line-height: 1.9;
    margin: 15px 0;
}

.profile-avatar {
    position: absolute;
    top: -95px;
    left: 50%;
    width: 190px;
    height: 190px;
    margin-left: -95px;
    border: 3px solid #ccc;
    border-radius: 50%;
}

.media-center {
    display: block;
    margin-bottom: 1rem;
}

.media-content {
    margin-top: 5rem;
}

.profile-title {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
}

.profile-subtitle {
    color: #909AA0;
}

.article-body {
    line-height: 1.4;
    margin: 0 3rem;
}

.info-tiles {
    margin: 0 3rem;
    margin-bottom: 1rem;

}

.info-tiles .subtitle {
    font-weight: 300;
    font-size: 0.8em;
    color: #8F99A3;
}

.profile-edit {
    margin-bottom: 70px;
}

.card-form {
    width: 90%;
    margin: 10px auto;
}

.card-form select {
    width: 100%;
    height: 43px;
    border-radius: 4px;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.2);
}


.bio {
    white-space: pre-wrap;
    text-align: center;
}

.profile-address {
    text-align: center;
}
.address-error {
    font-size: 15px;
    margin-top: -8px;
    margin-bottom: 10px;

}
/**************end profile*************/
.create-ad-form {
    width: 90%;
    margin: 10px auto;
}

.create-ad-form .item-amount {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: -10px 0;
    width: 80%;
}

.create-ad-form .item-currency {
    margin: 10px 0px;
    width: 20%;
    padding: 15px 5px;
    height: 46px;
}

.create-ad-form select {
    margin: 10px 0px;
    width: 100%;
    padding: 15px 5px;
}

/***************************autocomplete*********************************/
.cities-list {
    position: relative;
}
#suggestions {
    border: 1px;
    background: rgb(251, 248, 248);
    color: #000;
    max-height: 145px;
    width: 100%;
    overflow: auto;
    position: absolute;
    z-index: 1;
    /* list-style-type: none; */
}

#suggestions li {
    padding: 5px 0;
    cursor: default;
}

#suggestions li:hover {
    background: rgb(179, 235, 247);
}
/***********************end autocomplete*********************************/

/*****************************dashboard**********************************/
.dash-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dash-form input {
    vertical-align: middle;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px 0;
    width: 70%;
}


.dash-form button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    margin-top: 10px;
    width: 30%;
    margin-bottom: 10px;
}
  
.dash-form button:hover {
    background-color: royalblue;
}

/***********************end dashboard*********************************/

@media (min-width: 768px){
    .box{
        margin: 20px auto;
        width: 90%;
    }
    .form{
        max-width: 60%;
    }  
    
    .prev {
        margin-left: 32px;
    }

    .next {
        margin-right: 32px;
    }

    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.5);
    }

    .item-agency {
        margin-bottom: 0px;
        width: 40%;
    }

    .sform {
        width: 40%;
    }

    .rform {
        margin: 50px auto;
        width: 40%;
    }
    .dash-pagination {
        margin-left: 16%;
    }
}

@media (max-width: 768px) {
    .nav-menu { 
        display:none;
        position: absolute;
        background-color:rgb(43, 44, 145);;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }
    
    .nav-menu li:hover {
        display: inline-block;
        background-color:rgb(64, 66, 180);
        transition: 0.3s ease;
    }
    
    .nav-menu li + li {
        margin-top: 12px;
    }
    
    input[type=checkbox]:checked ~ .nav-menu{
        display: block;
    }
    
    .hamburger {
        display: block;   
    }
    
    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }
    
    .dropdown li:hover {
        background-color: rgb(64, 66, 180);
    }
}



